DB_USER=postgres
DB_PASSWORD=12345
DB_HOST=db
DB_PORT=5432
DB_NAME=contacts_db

SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

REDIS_HOST=redis
REDIS_PORT=6379

CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
